@model IEnumerable<AccountantNew.Web.Models.FileViewModel>

<tr>
    <th style="width:30%">Tên văn bản</th>
    <th style="width:50%">Trích yếu</th>
    <th style="width:10%">Ngày ban hành</th>
    <th style="width:10%">Tải về</th>
</tr>
@foreach (var item in Model)
{
    <tr>
        @*<td>@Html.ActionLink(item.Name,"","",new { data_toggle = "modal", data_target = "#openPdf" })</td>*@
        <td>@Ajax.ActionLink(item.Name, "DisplayPDF","File",new { path = item.Path},new AjaxOptions {HttpMethod = "GET",InsertionMode = InsertionMode.Replace,UpdateTargetId = "pdfBody" },
           new { @data_toggle = "modal", @data_target = "#openPdf" })</td>
        <td>
            @item.Describtion
        </td>
        <td>
            @item.TimeStarted.ToShortDateString()
        </td>
        <td>
            <button class="btn btn-sm btn-danger"><i class="fa fa-download"></i></button>
        </td>
    </tr>
}


