<div class="social-counter clearfix">
    <div class="section-title">
        <h3> <span class="cat-icon"><i class="fa fa-share-alt"></i></span>Stay Connected</h3>
    </div> <!-- //section-title -->

    <div class="clearfix">
        <div class="col-sm-6 col-xs-6 social-common-bar">
            <div class="social-icon"><a href="#" target="_blank"><i class="twitter-icon fa fa-twitter"></i></a></div>
            <div class="social-total-count">
                <p class="follow-button">4570<span class="social-text">followers</span></p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 social-common-bar">
            <div class="social-icon"><a href="#" target="_blank"><i class="facebook-icon fa fa-facebook"></i></a></div>
            <div class="social-total-count">
                <p class="follow-button">5423<span class="social-text">likes</span></p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 social-common-bar">
            <div class="social-icon"><a href="#" target="_blank"><i class="dribbble-icon fa fa-dribbble"></i></a></div>
            <div class="social-total-count">
                <p class="follow-button">7902<span class="social-text">followers</span></p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 social-common-bar">
            <div class="social-icon"><a href="#" target="_blank"><i class="rss-icon fa fa-rss"></i></a></div>
            <div class="social-total-count">
                <p class="follow-button">1261<span class="social-text">rss</span></p>
            </div>
        </div>
    </div><!-- //row -->
</div>
<div class="weather-news">
    <div class="section-title">
        <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>Thông tin thời tiết</h3>
    </div> <!-- //section-title -->
    <div class="weather-card one">
        <div class="top">
            <div class="wrapper">
                <h1 class="title1">Saturday</h1>
                <h3 class="location">Biên Hòa, Đồng Nai</h3>
                <p class="temp">
                    <span class="temp-value">28 </span>
                    <span class="deg">0</span>
                    <a href="javascript:;"><span class="temp-type">C</span></a>
                </p>
            </div>
        </div>
        <div class="bottom">
            <div class="wrapper">
                <ul class="forecast">
                    <li class="active">
                        <span class="date">Yesterday</span>
                        <span class="lnr lnr-sun condition">
                            <span class="temp">30<span class="deg">0</span><span class="temp-type">C</span></span>
                        </span>
                    </li>
                    <li>
                        <span class="date">Tomorrow</span>
                        <span class="lnr lnr-cloud condition">
                            <span class="temp">29<span class="deg">0</span><span class="temp-type">C</span></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
