<div class="social-counter clearfix">
    <div class="section-title">
        <h3> <span class="cat-icon"><i class="fa fa-usd"></i></span>Tỉ giá ngoại tệ</h3>
    </div> <!-- //section-title -->

    @*<div class="clearfix">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-xs-12 social-common-bar">
                @{switch ((string)item.CurrencyCode)
                    {
                        case "THB":
                            <div class="social-icon"><a href="#"><img class="" src="~/Assets/client/img/currencyCountry/thailand.png"/></a></div>
                            break;
                        case "JPY":
                            <div class="social-icon"><a href="#"><img class="" src="~/Assets/client/img/currencyCountry/japan.png" /></a></div>
                            break;
                        case "EUR":
                            <div class="social-icon"><a href="#"><img class="" src="~/Assets/client/img/currencyCountry/european-union.png" /></a></div>
                            break;
                        case "USD":
                            <div class="social-icon"><a href="#"><img class="" src="~/Assets/client/img/currencyCountry/united-states.png" /></a></div>
                            break;
                    }
                }
                <div class="social-total-count">
                    <p class="follow-button">Mua: @item.Buy, Bán: @item.Sell<span class="social-text"><strong>@item.CurrencyName</strong></span></p>
                </div>
            </div>
        }
    </div>*@<!-- //row -->
</div>
<div class="weather-news">
    <div class="section-title">
        <h3> <span class="cat-icon"><i class="fa fa-pencil"></i></span>Thông tin thời tiết</h3>
    </div> <!-- //section-title -->
    <div class="weather-card one">
        <div class="top">
            <div class="wrapper">
                <h1 class="title1">Saturday</h1>
                <h3 class="location">Biên Hòa, Đồng Nai</h3>
                <p class="temp">
                    <span class="temp-value">28 </span>
                    <span class="deg">0</span>
                    <a href="javascript:;"><span class="temp-type">C</span></a>
                </p>
            </div>
        </div>
        <div class="bottom">
            <div class="wrapper">
                <ul class="forecast">
                    <li class="active">
                        <span class="date">Yesterday</span>
                        <span class="lnr lnr-sun condition">
                            <span class="temp">30<span class="deg">0</span><span class="temp-type">C</span></span>
                        </span>
                    </li>
                    <li>
                        <span class="date">Tomorrow</span>
                        <span class="lnr lnr-cloud condition">
                            <span class="temp">29<span class="deg">0</span><span class="temp-type">C</span></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
