<connectionStrings>
  <clear />
  <add name="AccountantNewConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-PMFMADO\XUANTHANH;Initial Catalog=AccountantNew;Integrated Security=False;User Id=sa;Password=gala12345A;MultipleActiveResultSets=True" />
  <!--<add name="AccountantNewConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.21.101.9\SQL01UAT;Initial Catalog=CP_Accountant;Integrated Security=False;User Id=develop;Password=program@2015;MultipleActiveResultSets=True" />-->
  <!--<add name="AccountantNewConnection" providerName="System.Data.SqlClient" connectionString="Data Source=mssql6.gear.host;Initial Catalog=accountantnew;Integrated Security=False;User Id=accountantnew;Password=Ou621PJ-Z-6q;MultipleActiveResultSets=True" />-->
</connectionStrings>