<connectionStrings>
  <clear />
  <add name="AccountantNewConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-PMFMADO\XUANTHANH;Initial Catalog=AccountantNew;Integrated Security=False;User Id=sa;Password=gala12345A;MultipleActiveResultSets=True" />
</connectionStrings>