<div class="login-box">
    <div class="img-logo" style="padding-left:90px;">
        <img src="/Assets/client/img/presets/preset1/logo.png"/>
    </div>
    <div class="login-logo">
        <a href="#"><b>ACCOUNTANT</b>ADMIN</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form role="form" method="post" ng-submit="loginSubmit()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Tài khoản" ng-model="loginData.userName">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="loginData.password" placeholder="Mật khẩu">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="form-group has-feedback">
            <button class="btn btn-danger btn-block btn-flat" ng-click="bool=!bool">Forgot Password</button>
        </div>
        <div ng-show="bool" class="form-group has-feedback fade">
            <input type="email" class="form-control" placeholder="Nhập vào email" ng-model="forgotPassword.Email">
            <button class="form-control btn btn-default" ng-click="ForgetPass()">Submit</button>
        </div>
    </div>
</div>