<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">404 error</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
                <p style="font-size:20px;">
                    Bạn không có quyền truy cập vào đây, hoặc không có quyền này trong hệ thống.
                    Điều này có nghĩa, bạn nên <a ui-sref="home">quay lại trang chính</a>
                </p>
            </div>
        </div>
    </section>
</div>