html, body {
    height: 100%;
    width: 100%;
    position : absolute;
    z-index:1;
top:0;
}
#people {
    width: 100%;
    height: 100%;
}

.get-text {
    fill: #686868 !important;
}

.myCustomTheme-box {
    fill: #FFFFFF;
    stroke: #DDDAB9;
}

.reporters {
    fill: #0072C6;
}

.reporters-text {
    fill: #ffffff;
}

[data-field-name=Image]
{
  display:none;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.get-org-chart .get-text-0{
    font-weight: bold;
}

.get-org-chart .get-text {
    font-weight: bold;
}

